.project-creator{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
  font-size: 14px;
  text-align: center;
  min-height: 100vh;
}

.project-pictures{
  margin-top: 20px;
}

#errors{
  color: red;
}

.project-creator .label-text{
  text-transform: uppercase;;
  margin-top: 10px;
}

.project-creator label{
  text-transform: uppercase;;
  margin-top: 10px;
}

.project-creator input[type=text]{
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  min-width: 250px;
  width: 30%;
  border-radius: 27px;
  border: 1px solid #666666;
  text-transform: none;
  padding: 3px 12px;
}

.project-creator input[type=textarea]{
  margin-top: 10px;
  letter-spacing: 1px;
  font-size: 16px;
  min-width: 400px;
  width: 45%;
  border-radius: 27px;
  border: 1px solid #666666;
  text-transform: none;
  padding: 3px 12px;
}

.project-creator button {
  margin-top: 10px;
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
  padding: 2px 6px;
}
