.project-detail{
  display: flex;
  flex-direction: column;;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  min-height: 855px;
}

.project-pictures-container{
  width:1000px;
}

.step-pictures-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.step-picture{
  margin: 10px 10px;
}


.picture-caption{
  text-align: left;
}

.project-detail button {
  margin-bottom: 10px;
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
  padding: 2px 6px;
}
