.title{
  font-size: 40px;
}

.project-index-container{
  min-width: 1053px;
  width: 100%;
  min-height: 875px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.project-index{
  min-width: 1053px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

.project-index-item{
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(0, 0, 0, 0.10);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  display: inline-block;
  text-align: left;
  width: 325px;
  height: 365px;
  margin: 10px 10px;
}

.project-info{
  padding: 10px 13px;
  margin-bottom: 10px;
  height: 50px;
  background: #fff;
  overflow: hidden;
}

.project-title{
  max-width: 320px;
  white-space:nowrap;
  overflow: hidden;
  cursor: pointer;
}

.project-image{
  position: relative;
  cursor: pointer;
}

.project-image img{
  width: 324px;
  height: 270px;
  display: block;
}

.project-image .project-text-container{
  position: absolute;
  top: 33%;
  width: 324px;
  height: 90px;
  background-color:rgba(0,0,0,0.8);
  color: #ddd;
  font-size: 14px;
  display: none;
  text-align: center;
}

.project-image:hover .project-text-container{
  color: white;
  display: block;
}

.project-title-text{
  background-color:rgba(0,0,0,0);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.project-title:hover{
  color: white;
  background-color: #666666;
}

.project-author:hover{
  color: white;
  background-color: #666666;
}

.try-searching-projects{
  margin-top: 100px;
  font-size: 26px;
  color: #666666;
}

.favorite{
  margin-left: 290px;
}
