.project-detail{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  text-align: center;
}

.project-detail-edit-mode{
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  background: rgb(210, 210, 210);
  text-align: center;
}

.project-detail-title{
  width: 100vw;
  display: block;
}

.edit-project-detail-title{
  width: 100vw;
  display: block;
}

#project-options{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
}

.project-picture{
  margin-left: auto;
  margin-right: auto;
}

.project-pictures-container{
  width:90vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.picture-caption{
  text-align: center;
}

.project-detail button {
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
  padding: 2px 6px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.step-detail{
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-left: auto;
  margin-right: auto;
  width: 78vw;
  border: 2px outset rgb(215, 215, 215);
  border-radius: 5px;
  position: relative;
  background-color: white;
}

.step-title{
  padding: 1vh;
}

.step-body{
  padding: 1vh;
  margin-bottom: 1vh;
  text-align: justify;
}

.step-pictures-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 68vw;
}

.step-pictures{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.step-picture{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.step-picture .cloudinaryImg{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.project-detail-edit-mode button {
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
  padding: 2px 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.project-detail button:hover, button:active {
  background-color: white;
  color: #333333;
  outline: 0;
}

.project-detail-edit-mode button:hover, button:active {
  background-color: white;
  color: #333333;
  outline: 0;
}

.space-taker{
  height: 10vh;
}
