.editable-step-container{
  display: -webkit-box;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  width: 78vw;
  border: 2px outset rgb(215, 215, 215);
  border-radius: 5px;
  position: relative;
  background-color: white;
}

.editable-step-order{
  width: 7vw;
}

.editable-step-detail input:hover{
  background-color: rgb(240, 240, 240);
}

.editable-step-order-options{
  display: flex;
  flex-direction: column;
  padding-top: .5vh;
  padding-left: 1vw;
  padding-right: 1vw;
}

.delete-step{
  position: absolute;
  top: 0;
  right: 1vw;
}

.editable-step-detail input{
  width: 69vw;
  margin-left: auto;
  margin-right: auto;
}

.editable-step-title{
  padding: 1vh;
}

/*Find a way to display textbox resize option*/
.editable-step-body{
  width: 68vw;
  padding: 1vh;
  margin-bottom: 2vh;
  resize: vertical;
  overflow: scroll;
}

.editable-step-pictures-container{
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 68vw;
}

.editable-step-pictures{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.editable-step-picture{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.editable-step-picture img{
  margin: 10px 10px;
  width: 18vw;
  margin-left: auto;
  margin-right: auto;
}

.delete-picture{
  position: absolute;
  color: rgb(255, 63, 34);
  top: 1vh;
  right: 1vw;
  font-size: 3em;
  z-index: 1;
}

.delete-picture:hover{
  cursor: pointer;
}

.delete-picture:hover + .cloudinaryImg{
  -webkit-filter: grayscale(75%); /* Chrome, Safari, Opera */
  filter: grayscale(75%);
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.cloudinaryImg{
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}
