.NavBar {
  background-color: #666666;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 100%;
  font-family: 'Abel', sans-serif;
  font-size: 18px;
}

.NavBar #errors{
  background-color: red;
  color: white;
}

.NavBar #logo {
  margin-right: auto;
  max-width:100px;
}

.NavBar img {
  height: 100%;
}

.NavBar #logo:hover{
  text-decoration: none;
}

.NavBar #user-interations {
  margin-left: auto;
}

.NavBar #nav-form-container {
  font-size: 12px;
  text-align: center;
  margin-left: auto;
  margin-right: 5px;
}

.NavBar label {
  letter-spacing: 2px;
  text-align: center;
}
.NavBar label .label-text {
  color: #a5a5a5;
  cursor: text;
  text-transform: uppercase;
  transition: all 0.3s;
}
.NavBar label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #333333;
  color: white;
  text-align: center;
  transition: all 0.3s;
  width: 120px;
}
.NavBar label input:focus {
  max-width: 100%;
  width: 150px;
}

.NavBar label .label-text {
  -moz-transform: translateY(-18px);
  -ms-transform: translateY(-18px);
  -webkit-transform: translateY(-18px);
  transform: translateY(-18px);
}

.NavBar label input:focus + .label-text {
  color: white;
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
}

.NavBar #login-signup {
  margin: 5px;
  padding: 10px;
  letter-spacing: 3px;
}

.NavBar .buttons {
  height: 28px;
}

.NavBar button {
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
  padding: 2px 5px;
}
.NavBar button:hover, button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}
