.information-container{
  display: block;
  width:70%;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1px;
  line-height: 150%;
  text-align: center;
  min-width: 1053px;
}

.information-row{
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-bottom: 60px
}

.information-parragraph-odd{
  margin-right: auto;
  margin-left: 50px;
}

.information-parragraph-even{
  margin-left: auto;
  margin-right: 50px;
  width: 60%;
}

.information-container p{
  text-align: justify;
  width: 40%;
}

.information-container .information-picture-odd{
  margin-left: 50px;
  margin-right: auto;
  height: 200px;
}

.information-container .information-picture-even{
  margin-left: auto;
  margin-right: 50px;
  height: 200px;
}
