.information-container{
  display: block;
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

.information-row{
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-bottom: 60px
}

.information-parragraph-odd{
  margin-right: auto;
  margin-left: 50px;
}

.information-parragraph-even{
  margin-left: auto;
  margin-right: 50px;
  width: 60%;
}

.information-container p{
  text-align: justify;
  width: 40%;
}

.information-container .information-picture-odd{
  margin-left: 50px;
  margin-right: auto;
}

.information-container .information-picture-even{
  margin-left: auto;
  margin-right: 50px;
}
