.nav-bar {
  background-color: #666666;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  width: 100%;
  font-size: 12px;
  letter-spacing: 1px;
  min-width: 1053px;
}

.nav-bar #errors{
  background-color: red;
  color: white;
  float: left;
}

.nav-bar #logo {
  margin-right: auto;
  width: 100px;
  height: 50px;
  text-decoration: none;
}

.nav-bar .catch-phrase {
  position: absolute;
  text-transform: lowercase;;
  transform: translateY(-22px) translateX(60px);
}

.nav-bar img {
  height: 50px;
}

.nav-bar #user-interations {
  margin-left: auto;
  width: 115px;
}

.nav-bar button {
  background-color: #333333;
  border: 1px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 200ms;
  padding: 3px 6px;
}

.nav-bar button:hover, button:active {
  background-color: white;
  color: #333333;
  outline: 0;
}

.nav-bar .search{
  min-width: 320px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.nav-bar label{
  letter-spacing: 1px;
  margin-right: 5px;
  text-transform: uppercase;
}

.nav-bar .search input{
  letter-spacing: 2px;
  font-size: 16px;
  min-width: 150px;
  border-radius: 27px;
  border: 1px solid white;
  text-transform: none;
  padding: 3px 12px;
  width: 70%;
  margin-left: 5px;
  margin-right: auto;
}

.nav-bar .search-results{
  width: 17.5%;
  position: absolute;
  border: 1px solid black;
  overflow: hidden;
  background-color: #666666;
  z-index: 1;
  white-space: nowrap;

  max-height: 0px;
  -webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg) translateX(60px);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.nav-bar ul li{
  margin-left: 2px;
  border-top: 2px solid gray;
  position: relative;
  cursor: pointer;
}

.nav-bar input:focus + .search-results{
  max-height: 1000px;
  -webkit-transform: perspective(600) rotate3d(0, 0, 0, 0) translateX(60px);
}

.search-results li:hover{
  color: #dddddd;
  white-space: normal;
}

.nav-bar #user-menu-container{
  height: 50px;
  margin-left: auto;
  margin-right: 25px
}

.nav-bar #user-menu-container:hover .user-menu-options-container {
  max-height: 140px;
  -webkit-transform: translateX(-26px) perspective(600) rotate3d(0, 0, 0, 0) translateY(-5px);
}

.nav-bar #user-menu-container .user-menu-options-container {
  text-align: center;
  width: 98px;
  border: 1px solid black;
  background-color: #666666;
  z-index: 1;
  position: absolute;
  max-height: 0px;
  -webkit-transform: perspective(600) rotate3d(1, 0, 0, -90deg) translateX(-26px);
  -webkit-transform-origin: 50% 0;
  -webkit-transition: 350ms;
  -moz-transition: 350ms;
  -o-transition: 350ms;
  transition: 350ms;
}

.nav-bar li{
  padding-top: 5px;
  padding-bottom: 5px;
}
